@using Nabeghe.Domain.Enums.User
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Nabeghe.Application.Convertor
@using Nabeghe.Application.Extensions
@using Nabeghe.Domain.ViewModels.User
@model Nabeghe.Domain.ViewModels.User.FilterUserViewModel

@{
	ViewData["Title"] = "لیست کاربران";
}
<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-center justify-content-between mb-3">
			<h5 class="mb-0">ليست كاربران سايت</h5>
			<form asp-action="Index" id="filter-search" class="d-flex align-items-center">
				<input type="hidden" asp-for="Page" />

				<div class="row g-2">
					<!-- فیلد ورودی برای جستجوی عنوان -->
					<div class="col-auto">
						<label asp-for="Param" class="form-label"></label>
						<input asp-for="Param" class="form-control" placeholder="عنوان" />
					</div>

					<!-- فیلد انتخاب وضعیت -->
					<div class="col-auto">
						<label asp-for="Status" class="form-label"></label>
						<select asp-for="Status" class="form-select">
							@foreach (var item in Enum.GetValues(typeof(FilterUserStatus)).Cast<FilterUserStatus>().ToList())
							{
								if (Model.Status == item)
								{
									<option selected value="@item">@item.GetDisplayName()</option>
								}
								else
								{
									<option value="@item">@item.GetDisplayName()</option>
								}

							}
						</select>
					</div>

					<!-- دکمه جستجو -->
					<div class="col-auto d-flex align-items-end">
						<button type="submit" class="btn btn-success">جستجو</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive mt-3">
			<table class="table align-middle">
				<thead class="table-secondary">
					<tr>
						<th>نام و نام خانوادگی</th>
						<th>ایمیل</th>
						<th>موبایل</th>
						<th>وضعیت</th>
						<th>تاریخ ایجاد</th>
						<th>دستورات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Entities)
					{
						<tr>
							<td>@item.FirstName @item.LastName</td>
							<td>
								@item.Email
							</td>
							<td>@item.Mobile</td>
							<td>
								@if (item.Status == UserStatus.NotActive)
								{
									<span class="text-danger">
										فعال نشده
										
									</span>
								}
								@if (item.Status == UserStatus.Active)
								{
									<span class="text-success">
										فعال شده
									</span>
								}
								@if (item.Status == UserStatus.Ban)
								{
									<span class="text-danger">
										مسدود شده
									</span>
								}
							</td>
							<td>@item.CreateDate.Toshamsi()</td>
							<td>
								<a onclick="confirmDelete('@Url.Action("Delete","Users",new {id=item.Id})',event)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete">
									<ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
								</a>
								<a asp-action="Edit" asp-route-id="@item.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
									<ion-icon name="pencil-outline" role="img" class="md hydrated" aria-label="pencil outline"></ion-icon>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />