@using Nabeghe.Application.Statics
@using Nabeghe.Application.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nabeghe.Application.Extensions
@model List<Nabeghe.Domain.ViewModels.User.UserPurchasedCourseViewModel>
@{
	ViewData["Title"] = "دوره های در حال یادگیری";
}
@inject ICourseService CourseService

<div class="lg:col-span-9 md:col-span-8">
	<div class="space-y-10">
		<div class="space-y-5">
			<!-- section:title -->
			<div class="flex items-center gap-3">
				<div class="flex items-center gap-1">
					<div class="w-1 h-1 bg-foreground rounded-full"></div>
					<div class="w-2 h-2 bg-foreground rounded-full"></div>
				</div>
				<div class="font-black text-foreground">دوره های در حال یادگیری</div>
			</div>
			<!-- end section:title -->
			<!-- section:learning-courses:slider -->
			@if (Model.Count > 0)
			{
				<div class="swiper col3-swiper-slider swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden">
					<div class="swiper-wrapper" id="swiper-wrapper-9812cedbaa1a4ed5" aria-live="polite" style="transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
					
						@foreach (var item in Model)
						{
							<div class="swiper-slide swiper-slide-active" style="width: 273.667px; margin-left: 20px;" role="group" aria-label="1 / 2">
								<!-- course:card -->
								<div class="relative">
									<div class="relative z-10">
										<a asp-area="" asp-controller="Course" asp-action="Details" asp-route-slug="@item.CourseSlug" class="block">
											<img src="@PathTools.CourseImagePath@item.CourseImage" class="max-w-full rounded-3xl" alt="...">
										</a>
										<a asp-area="" asp-controller="Course" asp-action="Details" asp-route-slug="@item.CourseSlug" class="absolute left-3 top-3 h-11 inline-flex items-center justify-center gap-1 bg-black/20 rounded-full text-white transition-all hover:opacity-80 px-4">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
												<path fill-rule="evenodd" d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z" clip-rule="evenodd"></path>
											</svg>
											<span class="font-semibold text-sm">@item.CategoryName</span>
										</a>
									</div>
									<div class="bg-background rounded-b-3xl -mt-12 pt-12">
										<div class="bg-gradient-to-b from-background to-secondary rounded-b-3xl space-y-2 p-5 mx-5">
											<div class="flex items-center gap-2">
												<span class="block w-1 h-1 bg-success rounded-full"></span>
												<span class="font-bold text-xs text-success">
													@item.CourseStatus
												</span>
											</div>
											<h2 class="font-bold text-sm">
												<a asp-area="" asp-controller="Course" asp-action="Details" asp-route-slug="@item.CourseSlug" class="line-clamp-1 text-foreground transition-colors hover:text-primary">
													@item.CourseTitle
												</a>
											</h2>
										</div>
										<div class="space-y-3 p-5">
											<div class="flex items-center justify-between gap-5">
												<div class="flex items-center gap-3">
													<div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
														<img src="@PathTools.GetAvatarPath@item.TeacherAvatar" class="w-full h-full object-cover" alt="...">
													</div>
													<div class="flex flex-col items-start space-y-1">
														<span class="line-clamp-1 font-semibold text-xs text-muted">
															مدرس
															دوره:
														</span>
														<a asp-area="" asp-controller="Course" asp-action="Details" asp-route-slug="@item.CourseSlug" class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">
															@item.TeacherFullName
														</a>
													</div>
												</div>
												<div class="flex flex-col items-end justify-center h-14">
													@if (CourseService.IsCourseHasDiscount(item.CourseDiscount))
													{
														<span class="line-through text-muted">@item.Price.ToMoney()</span>
														<div class="flex items-center gap-1">
															<span class="font-black text-xl text-foreground">@item.Price.GetPriceAfterDiscount(item.CourseDiscount.DiscountPercent)</span>
															<span class="text-xs text-muted">تومان</span>
														</div>
													}
													else
													{
														<div class="flex items-center gap-1">
															<span class="font-black text-xl text-foreground">@item.Price.ToMoney()</span>
															<span class="text-xs text-muted">تومان</span>
														</div>
													}
												</div>
											</div>
											<div class="space-y-3 mt-3">
												<a asp-area="" asp-controller="Course" asp-action="Details" asp-route-slug="@item.CourseSlug" class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
													<span class="font-semibold text-sm">ادامه یادگیری</span>
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
														<path fill-rule="evenodd" d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd"></path>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- end course:card -->
							</div>
						}
					
					</div>

					<div class="swiper-button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-9812cedbaa1a4ed5" aria-disabled="true"></div>
					<div class="swiper-button-next swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-9812cedbaa1a4ed5" aria-disabled="true"></div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
				</div>
			}
			else
			{
				<partial name="_NotFoundItems"/>
			}
			<!-- end section:learning-courses:slider -->
		</div>
		<!-- end section:learning-courses -->
	</div>
</div>