@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nabeghe.Application.Convertor
@using Nabeghe.Application.Extensions
@using Nabeghe.Web.Models.CourseStatus
@model Nabeghe.Web.Models.CourseStatus.FilterCourseStatusViewModel
@{
	ViewData["Title"] = "ليست وضعیت دوره ها";
}
<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-center justify-content-between mb-3">
			<h5 class="mb-0">@ViewData["Title"]</h5>
			<form asp-action="List" id="filter-search" class="d-flex align-items-center">
				<input type="hidden" asp-for="Page" />
				<div class="row g-2">
					<div class="col-auto">
						<label asp-for="Param" class="form-label"></label>
						<input asp-for="Param" class="form-control" placeholder="عنوان" />
					</div>
					<!-- فیلد انتخاب وضعیت -->
					<div class="col-auto">
						<label asp-for="FilterCourseStatusOrder" class="form-label"></label>
						<select asp-for="FilterCourseStatusOrder" class="form-select">
							@foreach (var item in Enum.GetValues(typeof(FilterCourseStatusOrder)).Cast<FilterCourseStatusOrder>().ToList())
							{
								if (Model.FilterCourseStatusOrder == item)
								{
									<option selected value="@item">@item.GetDisplayName()</option>
								}
								else
								{
									<option value="@item">@item.GetDisplayName()</option>
								}

							}
						</select>
					</div>
					<div class="col-auto d-flex align-items-end">
						<button type="submit" class="btn btn-success">جستجو</button>
					</div>
				</div>
			</form>
		</div>
		<div class="table-responsive mt-3">
			<table class="table align-middle">
				<thead class="table-secondary">
				<tr>
					<th>عنوان وضعیت دوره</th>
					<th>تاریخ ایجاد</th>
					<th>دستورات</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var item in Model.Entities)
				{
					<tr>
						<td>@item.StatusTitle</td>
						<td>@item.CreateDate.Toshamsi()</td>
						<td>
							<a onclick="confirmDelete('@Url.Action("Delete","CourseStatus",new {id=item.Id})',event)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete">
								<ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
							</a>
							<a href="/Admin/CourseStatus/Update/@item.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
								<ion-icon name="pencil-outline" role="img" class="md hydrated" aria-label="pencil outline"></ion-icon>
							</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
</div>
<partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />